<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.nurse.mapper.NurseMapper">
    
    <resultMap type="Nurse" id="NurseResult">
        <result property="nurseId"    column="nurse_id"    />
        <result property="nurseName"    column="nurse_name"    />
        <result property="nurseAge"    column="nurse_age"    />
        <result property="nurseSex"    column="nurse_sex"    />
        <result property="nurseStatus"    column="nurse_status"    />
        <result property="nurseBirthday"    column="nurse_birthday"    />
        <result property="idCard"    column="id_card"    />
        <result property="departmentId"    column="department_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="nurseZhanghao"  column="nurse_zhanghao"   />
        <result property="nursePassword"  column="nurse_password"   />
        <result property="nursePhone"  column="nurse_phone"   />
    </resultMap>

    <sql id="selectNurseVo">
        select nurse_id, nurse_name, nurse_age, nurse_sex, nurse_status, nurse_birthday, id_card, department_id, create_time,nurse_zhanghao,nurse_password,nurse_phone from nurse
    </sql>

    <select id="selectNurseList" parameterType="Nurse" resultMap="NurseResult">
        <include refid="selectNurseVo"/>
        <where>  
            <if test="nurseName != null  and nurseName != ''"> and nurse_name like concat('%', #{nurseName}, '%')</if>
            <if test="nurseAge != null "> and nurse_age = #{nurseAge}</if>
            <if test="nurseSex != null  and nurseSex != ''"> and nurse_sex = #{nurseSex}</if>
            <if test="nurseStatus != null  and nurseStatus != ''"> and nurse_status = #{nurseStatus}</if>
            <if test="nurseBirthday != null "> and nurse_birthday = #{nurseBirthday}</if>
            <if test="idCard != null  and idCard != ''"> and id_card = #{idCard}</if>
            <if test="departmentId != null "> and department_id = #{departmentId}</if>
        </where>
    </select>
    
    <select id="selectNurseByNurseId" parameterType="Long" resultMap="NurseResult">
        <include refid="selectNurseVo"/>
        where nurse_id = #{nurseId}
    </select>

    <select id="loginByName" parameterType="String" resultMap="NurseResult">
        <include refid="selectNurseVo"/>
        where nurse_zhanghao = #{nurseZhanghao} AND nurse_password = #{nursePassword}
    </select>

    <select id="loginByPhone" parameterType="String" resultMap="NurseResult">
        <include refid="selectNurseVo"/>
        where nurse_phone = #{nursePhone} AND nurse_password = #{nursePassword}
    </select>

    <insert id="insertNurse" parameterType="Nurse" useGeneratedKeys="true" keyProperty="nurseId">
        insert into nurse
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="nurseName != null">nurse_name,</if>
            <if test="nurseAge != null">nurse_age,</if>
            <if test="nurseSex != null">nurse_sex,</if>
            <if test="nurseStatus != null">nurse_status,</if>
            <if test="nurseBirthday != null">nurse_birthday,</if>
            <if test="idCard != null">id_card,</if>
            <if test="departmentId != null">department_id,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="nurseName != null">#{nurseName},</if>
            <if test="nurseAge != null">#{nurseAge},</if>
            <if test="nurseSex != null">#{nurseSex},</if>
            <if test="nurseStatus != null">#{nurseStatus},</if>
            <if test="nurseBirthday != null">#{nurseBirthday},</if>
            <if test="idCard != null">#{idCard},</if>
            <if test="departmentId != null">#{departmentId},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateNurse" parameterType="Nurse">
        update nurse
        <trim prefix="SET" suffixOverrides=",">
            <if test="nurseName != null">nurse_name = #{nurseName},</if>
            <if test="nurseAge != null">nurse_age = #{nurseAge},</if>
            <if test="nurseSex != null">nurse_sex = #{nurseSex},</if>
            <if test="nurseStatus != null">nurse_status = #{nurseStatus},</if>
            <if test="nurseBirthday != null">nurse_birthday = #{nurseBirthday},</if>
            <if test="idCard != null">id_card = #{idCard},</if>
            <if test="departmentId != null">department_id = #{departmentId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where nurse_id = #{nurseId}
    </update>

    <delete id="deleteNurseByNurseId" parameterType="Long">
        delete from nurse where nurse_id = #{nurseId}
    </delete>

    <delete id="deleteNurseByNurseIds" parameterType="String">
        delete from nurse where nurse_id in 
        <foreach item="nurseId" collection="array" open="(" separator="," close=")">
            #{nurseId}
        </foreach>
    </delete>
</mapper>